src/main/mule/test-practice-depolyments.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="22b537d1-15be-4ff0-a2e2-164b760812a6" >
		<http:listener-connection host="${Http.host}" port="${Http.port}" />
	</http:listener-config>
	<configuration-properties doc:name="Configuration properties" doc:id="94463aa6-17b2-4eaa-b623-3ffc51ff20bb" file="env\property-${env}.yaml" />
	<flow name="test-practice-depolymentsFlow" doc:id="6a17e9d6-6c3d-40e1-98e8-f4ee84bd3b0c" >
		<http:listener doc:name="Listener" doc:id="034e60c3-15f9-467c-9850-343f25f53603" config-ref="HTTP_Listener_config" path="/testDeploy"/>
		<ee:transform doc:name="Transform Message" doc:id="db997110-47a8-46b2-966c-dca7d4968e05" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"Message": "Hello, This is test data from MuleSoft"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="3e648781-f751-4942-8a8a-fa371c722c24" message="Message from Mule :::: #[payload]"/>
	</flow>
</mule>
